<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Figuras pequeñas</title>
</head>
<body class="body-home">
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-products">
        <a class="hipervinculo-categorias" href="/categorias/anime"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>FIGURAS PEQUEÑAS</h1>
        <section class="section-products">
            <div class="container-articles-products">
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-asuma.jpg" alt="figura-pop-asuma" class="product-img">
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Asuma Funko POP Naruto</label>
                            <label>$81.200</label>
                        </div>            
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>    
                        <div class="container-hover">
                            <a href="#">Ver producto</a>
                            <button class="btn-cart">Añadir al carrito</button>
                        </div>        
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-charmander.jpg" alt="figura-pop-charmander" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Charmander Funko POP Pokémon</label>
                        <label>$70.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-edward-elric.jpg" alt="figura-pop-edward-elric" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Edward Elric Funko POP Full Metal Alchemist</label>
                        <label>$98.300</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-freezer.jpg" alt="figura-pop-freezer" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Freezer Funko POP Dragon Ball Z</label>
                        <label>$89.100</label> 
                        </div>     
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                      
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-gohan-saiyanman-super-saiyan.jpg" alt="figura-pop-gohan-saiyanman-super-saiyan" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Figura Gohan Gran Sayaman Super Sayayin Funko POP</label>
                        <label>$80.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-goku-black.jpg" alt="figura-pop-goku-black" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Goku Black Funko POP Dragon Ball Súper</label>
                        <label>$79.000</label>
                        </div>         
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                  
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-goku-saiyan-blue.jpg" alt="figura-pop-goku-saiyan-blue" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Goku Super Sayayin Blue Funko POP Dragon Ball Súper</label>
                        <label>$79.000</label>
                        </div>         
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                  
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-happy.jpg" alt="figura-pop-happy" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Happy Funko POP Fairy Tail</label>
                        <label>$70.000</label> 
                        </div>            
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>               
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-kawaki.jpg" alt="figura-pop-kawaki" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Kawaki Funko POP Boruto Naruto's Next Generations</label>
                        <label>$72.200</label> 
                        </div>           
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-l.jpg" alt="figura-pop-l" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura L Funko POP Death Note</label>
                        <label>71.500</label> 
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-luffy.jpg" alt="figura-pop-luffy" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Luffy Funko POP One Piece</label>
                        <label>$78.200</label>
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-minato.jpg" alt="figura-pop-minato" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                             <label>Figura Minato Namikaze Funko POP Naruto Shippuden</label>
                        <label>$80.300</label>
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-nami.jpg" alt="figura-pop-nami" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Namki Funko POP One Piece</label>
                        <label>$75.500</label>
                        </div>        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-naruto-sage-mode.jpg" alt="figura-pop-naruto-sage-mode" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Naruto Modo Sabio Funko POP Naruto Shippuden</label>
                        <label>$86.300</label> 
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-naruto-six-path.jpg" alt="figura-pop-naruto-six-path" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Naruto Modo Seis Caminos Funko POP Naruto Shippuden</label>
                        <label>$90.000</label> 
                        </div>  
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                     
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-natsu-mode-end.jpg" alt="figura-pop-natsu-mode-end" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Natsu Modo END Funko POP Fairy Tail</label>
                        <label>$88.600</label>
                        </div>  
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                        
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-pikachu.jpg" alt="figura-pop-pikachu" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Pikachu Funko POP Pokémon</label>
                        <label>$72.700</label>
                        </div>   
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                        
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-ponyta.jpg" alt="figura-pop-ponyta" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Figura Ponyta Funko POP Pokémon</label>
                        <label>$70.100</label>  
                        </div>     
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                      
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-sailor-moon-&-luna.jpg" alt="figura-pop-sailor-moon-&-luna" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Sailor Moon & Luna Funko POP Sailor Moon</label>
                        <label>$91.500</label>
                        </div>         
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                  
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/animeProducts/figura-pop-vegito.jpg" alt="figura-pop-vegito" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Vegito Funko POP Dragon Ball Z</label>
                        <label>$88.000</label> 
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
            </div>
            <nav class="pagination">
                <ul>
                    <li><span><</span></li>
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>></span></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>