<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Figuras pequeñas</title>
</head>
<body class="body-home">
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-products">
        <a class="hipervinculo-categorias" href="/categorias/comics"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>JUEGOS</h1>
        <section class="section-products">
            <div class="container-articles-products">
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-batman-vs-jocker.jpg" alt="figura-pop-batman-vs-jocker" class="product-img">
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Batman vs The Jocker Funko POP DC</label>
                            <label>$70.000</label>
                        </div>            
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>            
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-capitan-america-traje-robotico.jpg" alt="figura-pop-capitan-america-traje-robotico" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Capitan America traje robotico Funko POP Marvel</label>
                        <label>$50.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-eugene-chazam.jpg" alt="figura-pop-eugene-chazam" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Figura Eugene Chazam Funko POP DC</label>
                        <label>$48.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-peace-maker.jpg" alt="figura-pop-peace-maker" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Figura Peace Maker Funko POP DC</label>
                        <label>$48.000</label> 
                        </div>     
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                      
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-thor.jpg" alt="figura-pop-thor" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Figura Thor Funko POP Marvel</label>
                        <label>$50.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>     
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/figura-pop-wanda-halloween.jpg" alt="figura-pop-wanda-halloween" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Figura Wanda halloween Funko POP Marvel</label>
                        <label>$60.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div> 
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/constantine.jpg" alt="constantine" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Figura constantine Funko POP DC</label>
                        <label>$48.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>                
            </div>
            <nav class="pagination">
                <ul>
                    <li><span><</span></li>
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>></span></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>