<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Novelas graficas</title>
</head>
<body class="body-home">
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-products">
        <a class="hipervinculo-categorias" href="/categorias/comics"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>NOVELAS GRAFICAS</h1>
        <section class="section-products">
            <div class="container-articles-products">
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/flash-point-1.jpeg" alt="flash-point-1" class="product-img">
                        </div>                        
                        <div class="container-basic-info">
                            <label>Flash Point n°1</label>
                            <label>$48.000</label>
                        </div>            
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>            
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/star-wars-first-issue.jpg" alt="star-wars-first-issue" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Star Wars First Issue</label>
                        <label>$45.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/injustice-31.jpg" alt="injustice-31" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Injustice Gods Among Us n°31</label>
                        <label>$50.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/the-amazing-spider-girl-25.jpg" alt="the-amazing-spider-girl-25" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>The Amazing Spider-Girl n°25</label>
                        <label>$50.000</label> 
                        </div>     
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                      
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/the-amazing-spider-man-1.jpg" alt="the-amazing-spider-man-1" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>The Amazing Spider-Man n°1</label>
                        <label>$48.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>     
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/batman-coleccion-silencio-1.png" alt="batman-coleccion-silencio-1" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Coleccion de novelas graficas Batman Silencio parte 1</label>
                        <label>$200.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/the-infinity-guantlet.jpg" alt="the-infinity-guantlet" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>The Infinity Guantlet</label>
                        <label>$45.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div> 
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/comicsProducts/vengadores-4-old.jpg" alt="vengadores-4-old" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Vengadores n°4</label>
                        <label>$40.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div> 
            </div>
            <nav class="pagination">
                <ul>
                    <li><span><</span></li>
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>></span></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>