<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-shoppingCart">
        <h2>Carrito de compras</h2>
        <div class="container-products">
            <div class="container-product">
                <table class="product-in-shoppingCart">
                    <thead>
                        <th>Imagen</th>
                        <th>Articulo</th>
                        <th>Cantidad(es)</th>
                        <th>Precio</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/img/comicsProducts/mujer-maravilla-kit.jpg" alt=""></td>
                            <td>Kit de mujer maravilla</td>
                            <td>1</td>
                            <td>$10.000</td>
                            <td><i class="fa-solid fa-rectangle-xmark"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-product">
                <table class="product-in-shoppingCart">
                    <thead>
                        <th>Imagen</th>
                        <th>Articulo</th>
                        <th>Cantidad(es)</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/img/comicsProducts/batman-coleccion-silencio-1.png" alt=""></td>
                            <td>Coleccion batman silencio 1</td>
                            <td>1</td>
                            <td>$20.000</td>
                            <td><i class="fa-solid fa-rectangle-xmark"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-product">
                <table class="product-in-shoppingCart">
                    <thead>
                        <th>Imagen</th>
                        <th>Articulo</th>
                        <th>Cantidad(es)</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/img/animeProducts/figura-pop-minato.jpg" alt=""></td>
                            <td>Figura POP minato</td>
                            <td>3</td>
                            <td>$100.000</td>
                            <td><i class="fa-solid fa-rectangle-xmark"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-product">
                <table class="product-in-shoppingCart">
                    <thead>
                        <th>Imagen</th>
                        <th>Articulo</th>
                        <th>Cantidad(es)</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/img/videogamesProducts/god-of-war.jpg" alt=""></td>
                            <td>God of war</td>
                            <td>1</td>
                            <td>$50.000</td>
                            <td><i class="fa-solid fa-rectangle-xmark"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3>Total a pagar: </h3>
        <div class="container-buttons">
            <button>Pagar</button>
            <button>Vaciar carrito</button>
        </div>
        <span class="chart-pay">
            <label>Total a pagar: </label>
            <div class="container-buttons">
                <button>Pagar</button>
                <button>Vaciar carrito</button>
            </div>
        </span>
    </main>
    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>