<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Juegos</title>
</head>
<body class="body-home">
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-products">
        <a class="hipervinculo-categorias" href="/categorias/videojuegos"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>JUEGOS</h1>
        <section class="section-products">
            <div class="container-articles-products">
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/gears-of-war.jpg" alt="gears-of-war" class="product-img">
                        </div>                        
                        <div class="container-basic-info">
                            <label>Gears of War Xbox360</label>
                            <label>$60.000</label>
                        </div>            
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>            
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/god-of-war.jpg" alt="god-of-war" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>God of War PS3</label>
                        <label>$60.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/halo-5.jpg" alt="halo-5" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                            <label>Halo 5 Guardians Xbox One</label>
                        <label>$90.000</label>
                        </div>                        
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>   
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/halo-the-master-chief-collection.jpg" alt="halo-the-master-chief-collection" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                           <label>Halo The Master Chief Collection Xbox One</label>
                        <label>$88.000</label> 
                        </div>     
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                      
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/legend-of-zelda-bow.jpg" alt="legend-of-zelda-bow" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>The Legend of Zelda: Breath of the Wild Nintento Switch</label>
                        <label>$300.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>     
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/mario-kart-8-deluxe.jpg" alt="mario-kart-8-deluxe" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Mario Kart 8 Deluxe Nintento Switch</label>
                        <label>$280.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div> 
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/uncharted-4.jpg" alt="uncharted-4" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Uncharted 4 A Thief's end PS4</label>
                        <label>$350.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>
                <div class="container-article-product">
                    <article class="article-product">
                        <div class="container-img">
                            <img src="/img/videogamesProducts/uncharted-nathan-drake-collection.jpg" alt="uncharted-nathan-drake-collection" class="product-img">    
                        </div>                        
                        <div class="container-basic-info">
                          <label>Uncharted The Nathan Drake's collection</label>
                        <label>$320.000</label>  
                        </div>       
                        <div class="container-buttons-mobile">
                            <button class="btn-see-product"><a href="#"><i class="fa-regular fa-eye"></i></a></button>
                            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>                    
                    </article>
                </div>  
            </div>
            <nav class="pagination">
                <ul>
                    <li><span><</span></li>
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>></span></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>