@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #0b309dd4;
}

.logo-imagen{
    width: 85vw;
}

.container-search i{
    position: relative;
    right: 26px;
}

.search-bar{
    width: 80%;
    margin-left: 28px;
    border-radius: 20px;
    padding: 3px 2px 3px 5px;
}

/*Estilos del Home*/

.body-home{
    background-color: whitesmoke;
    overflow-x: hidden;
}

h1{
    font-size: 20px;
    text-align: start;
}

.main-home{
    width: 100vw;
}

.saludo-bienvenida{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 1rem;
}

.musica-home{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.musica-home h6{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 5px;
}

.musica-home audio{
    border: 1px solid black;
    border-radius: 1rem;
    background-color: orange;
}

.secciones{
    text-align: center;
}

.anime{
    width: 100vw;
}

.videojuegos{
    width: 100vw;
}

.superheroes{
    width: 100vw;
}

/*Fin de estilos del Home*/

/*Estilos del Register*/

.body-register{
    /* background-image: url("https://netivist.org/uploads/forum/discussions/pictures/559588e855f4ff016cc41758/manga-vs-comics.jpg"); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQVSE1CvgiBgOCVuAVWMMioV0ts_Col7yWbA&usqp=CAU");
    background-repeat: round;
    height: 100vh;
}

.body-register a{
    color: blue;
    font-weight: 900;
}

.form-register-user{
    position: relative;
    top: 2rem;
    border: solid 1px red;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0rem 0rem 4rem 1rem;
    background-color: floralwhite;
}

.container-input{
    margin-bottom: 20px;
}

.etiquetas-register{
    font-size: 22px;
    font-weight: bold;
    color: rgb(9, 9, 126);
}

.inputs{
    width: 80vw;
    border-radius: 1rem;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.inputs:focus{
    outline: unset;
}

.container-terms{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.container-terms .etiqueta-term{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.container-terms .etiquetas-register{
    margin-right: 10px;
}

.container-radio-buttons{
    display: flex;
    justify-content: center;
    width: 90vw;
}

.container-radio-buttons label{
    color: black;
}

.container-radio-buttons input{
    margin-right: 10px;
    position: relative;
    top: 6px;
}

input[type="radio"]:checked{
    box-shadow: 0px 0px 0px 2px darkorange;
}

.container-buttons-register{
    text-align: center;
}

.boton-form-register{
    border-radius: 9px;
    color: red;
    font-weight: bold;
    padding: 3px;
    background-color: lightgrey;
}

footer{
    width: 100%;
    background-color: chocolate;
    border-top: solid 1px black;
    padding: 1px;
}

.footer-bar ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-bar ul li{
    list-style: none;
    font-weight: bold;
}

.footer-bar ul li a{
    color: black;
    text-decoration: none;
}


/* Estilos version Smarthphone */
@media screen and (min-width: 320px) {
    .nav-bar{
        display: none;
    }

    .descripcion-seccion-anime-mobile{
        background-image: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/f/7/0/f/f70fad3b9c9a59c6507f6762820cdee9.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .descripcion-seccion-anime-mobile a{
        text-align: center;
    }

    .descripcion-seccion-videojuegos-mobile{
        background-image: url("https://indiehoy.com/wp-content/uploads/2020/09/high-score.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }

    .descripcion-seccion-videojuegos-mobile a{
        text-align: center;
    }

    .descripcion-seccion-superheroes-mobile{
        background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marvel-vs-dc-1559903212.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;         
    }

    .descripcion-seccion-superheroes-mobile a{
        text-align: center;
    }

    .boton-ver-mobile{
        background-color: #6495eda1;
        border-radius: 5rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 5px;
    }

    .descripcion-home p{
        font-weight: 900;
        text-align: justify;
        padding: 0rem 2rem 1rem 1rem;
    }

    .container-descripcion{
        display: none;
    }
}


/* Estilos version Tablets */
@media screen and (min-width: 768px) {
    header i{
        font-size: 23px;
    }

    .search-bar{
        width: 90%;
    }

    .descripcion-seccion-anime-mobile{
        height: 65vh;
    }

    .descripcion-seccion-videojuegos-mobile{
        height: 65vh;
    }

    .descripcion-seccion-superheroes-mobile{
        height: 65vh;
    }

    .boton-ver-mobile{
        font-size: 2rem;
    }

    .secciones{
        font-size: 40px;
    }
}

/* Estilos version PC's */
@media screen and (min-width: 1024px) {
    .logo-imagen{
        width: 22vw;
        max-height: 8vh;
    }

    .menu-burger{
        display: none;
    }

    .nav-bar{
        display: block;
        margin-top: 10px;
    }

    .nav-bar ul{
        display: inline-flex;
    }

    .nav-bar ul li{
        list-style: none;
    }

    .nav-bar ul li a i{
        font-size: 15px;
    }

    .nav-bar ul li a{
        color: black;
        font-weight: bolder;
        text-decoration: none;
        margin-right: 4rem;
    }      

    .nav-bar ul li a:hover{
        border: 2px double black;
        border-radius: 1rem;
        color: firebrick;
        background-color: antiquewhite;
    }

    .search-bar{
        width: 94%;
    }

    .descripcion-home{
        padding: 20px;
    }

    .saludo-bienvenida{
        font-size: 3rem;
    }

    .descripcion-home p{
        color: black;
        font-weight: bold;
        text-align: justify;
        font-size: 2rem;
    }

    .musica-home{
        display: block;        
        padding: 1rem;
        margin-bottom: 0;
    }

    .main-home h6{
        text-align: unset;
    }

    .secciones{
        margin-bottom: 25px;
    }

    .descripcion-seccion-anime-mobile{
        display: none;
    }

    .descripcion-seccion-superheroes-mobile{
        display: none;
    }

    .descripcion-seccion-videojuegos-mobile{
        display: none;
    }

    .descripcion-seccion-anime{
        background-image: url("https://c.tenor.com/4e-jzGFTnxwAAAAC/goku-dragon-ball-z.gif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
    }

    .descripcion-seccion-anime p{
        color: #a3a3a3;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .descripcion-seccion-videojuegos{
        background-image: url("https://elmercantil.com/wp-content/uploads/2020/11/01-1.gif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
    }

    .descripcion-seccion-videojuegos p{
        color: #4e4ec5;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .descripcion-seccion-superheroes{
        background-image: url("https://media2.giphy.com/media/dn16iAighr3WDUrffC/giphy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
    }

    .descripcion-seccion-superheroes p{
        color: #8b8000;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .container-descripcion{
        height: 100vh;
        background-color: #000000cc;
        padding: 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .boton-ver{
        width: 30vw;
        height: 10vh;
        font-size: 3rem;
        font-weight: 900;
        margin-top: 20px;
        background-color: brown;
        border-radius: 5rem;      
        cursor: pointer;         
    }

    .footer-bar ul li{
        font-size: 20px;
    }

    .footer-bar ul li i:hover{
        color: aliceblue;
    }
}

@media screen and (min-width: 1440px){

    .nav-bar ul li a{
        margin-right: 100px;
    }
}