@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #0b309dd4;
}

.logo-imagen{
    width: 85vw;
}

.container-search .button-search{
    position: relative;
    right: 30px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.search-bar{
    width: 80%;
    margin-left: 28px;
    border-radius: 20px;
    padding: 3px 2px 3px 5px;
    color: black;
    font-weight: bold;
}

/*Estilos del Home*/

.body-home{
    background-color: whitesmoke;
    overflow-x: hidden;
}

.main-home{
    width: 100vw;
}

.saludo-bienvenida{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 1rem;
}

.musica-home{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.musica-home h6{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 5px;
}

.musica-home audio{
    border: 1px solid black;
    border-radius: 1rem;
    background-color: orange;
}

.secciones{
    text-align: center;
}

.anime{
    width: 100vw;
}

.videojuegos{
    width: 100vw;
}

.superheroes{
    width: 100vw;
}

/*Fin de estilos del Home*/

/*Estilos del Register*/

.body-register{    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQVSE1CvgiBgOCVuAVWMMioV0ts_Col7yWbA&usqp=CAU");
    background-repeat: round;
    height: 100vh;
}

.body-register a{
    color: blue;
    font-weight: 900;
}

.main-register{
    height: 100vh;
}

.form-register-user{
    position: relative;
    top: 2rem;
    border: solid 1px red;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0rem 0rem 4rem 1rem;
    background-color: #fffaf0c2;
}

.container-input{
    margin-bottom: 20px;
}

.etiquetas-register{
    font-size: 22px;
    font-weight: bold;
    color: rgb(9, 9, 126);
}

.inputs-register{
    width: 80vw;
    border-radius: 1rem;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.inputs-register:focus{
    outline: unset;
}

.container-terms{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.container-terms .etiqueta-term{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.container-terms .etiquetas-register{
    margin-right: 10px;
}

.container-radio-buttons{
    display: flex;
    justify-content: center;
    width: 90vw;
}

.container-radio-buttons label{
    color: black;
}

.container-radio-buttons input{
    margin-right: 10px;
    position: relative;
    top: 6px;
}

input[type="radio"]:checked{
    box-shadow: 0px 0px 0px 2px darkorange;
}

.container-buttons-register{
    text-align: center;
}

.boton-form-register{
    border: solid 1px black;
    border-radius: 9px;
    color: red;
    font-weight: bold;
    padding: 3px;
    background-color: lightgrey;
}

/*Fin de los estilos del Register*/

/*Inicio de estilos del Login*/

.body-login{
    background-image: url("https://i.pinimg.com/736x/fd/1c/a7/fd1ca7d83c7c246816adf3b6452ce5c5.jpg");
    background-repeat: round;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.body-login .hipervinculo-home{
    color: cornflowerblue
}

.form-login{
    position: relative;
    top: 7rem;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0rem 0rem 4rem 1rem;
    background-color: #fffaf06e;
}

.etiquetas-login{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.inputs-login{
    padding: 5px;
    border-radius: 1rem;
    width: 80vw;
    height: 4vh;
    color: black;
    font-weight: bold;
}

.inputs-login:focus{
    outline: none;
}

.container-button-login{
    text-align: center;
}

.boton-login{
    border-radius: 9px;
    width: 23vw;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.container-hipernviculo-sin-cuenta{
    text-align: center;
}

.hipernviculo-sin-cuenta{
    color: black;
    font-weight: 900;
}

/*Fin de los estilos del Login*/

/*Inicio de estilos del AboutUs*/

.titulo-about-us{
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-img-about-us{
    text-align: center;
}

.container-img-about-us .img-mobile{
    width: 90vw;
    border-radius: 6rem;
    box-shadow: 1px 0px 27px 5px black;
    margin-bottom: 1rem;
}

.container-img-about-us .img-pc{
    display: none;
}

.parrafos-about-us{
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
    border: solid 1px blue;
    border-radius: 10px;
}

.hipervinculo-contacto{
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: solid 1px red;
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem;
    background: darksalmon;
    color: darkblue;
}

.gif-icon{
    display: none;
}

/*Fin de los estilos del AboutUs*/

/*Inicio de los estilos de Categories*/

.main-categories h1{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.main-categories h4{
    text-align: center;
}

.category-section-anime{
    margin: 5px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #e1b13c;
}

.category-section-anime .category-article-anime .container-img-mobile{
    text-align: center;
}

.category-section-anime .category-article-anime .container-img-mobile img{
    width: 95vw;
    border-radius: 1rem;
}

.category-section-anime .category-article-anime a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    font-size: 25px;
    background-color: burlywood;
}

.category-section-videogames{
    margin: 5px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #4949b7;
}

.category-section-videogames .category-article-videogames .container-img-mobile{
    text-align: center;
}

.category-section-videogames .category-article-videogames .container-img-mobile img{
    width: 95vw;
    border-radius: 1rem;
}

.category-section-videogames .category-article-videogames a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    font-size: 25px;
    background-color: burlywood;
}

.category-section-comics{
    margin: 5px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: yellowgreen;
}

.category-section-comics .category-article-comics .container-img-mobile{
    text-align: center;
}

.category-section-comics .category-article-comics .container-img-mobile img{
    width: 95vw;
    border-radius: 1rem;
}

.category-section-comics .category-article-comics a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    font-size: 25px;
    background-color: burlywood;
}

/*Fin de los estilos de Categories*/

footer{
    width: 100%;
    background-color: chocolate;
    border-top: solid 1px black;
    padding: 1px;
}

.footer-bar ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-bar ul li{
    list-style: none;
    font-weight: bold;
}

.footer-bar ul li a{
    color: black;
    text-decoration: none;
}


/* Estilos version Smarthphone */
@media screen and (min-width: 320px) {
    .nav-bar{
        display: none;
    }

    .descripcion-seccion-anime-mobile{
        background-image: url("https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/f/7/0/f/f70fad3b9c9a59c6507f6762820cdee9.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .descripcion-seccion-anime-mobile a{
        text-align: center;
    }

    .descripcion-seccion-videojuegos-mobile{
        background-image: url("https://indiehoy.com/wp-content/uploads/2020/09/high-score.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }

    .descripcion-seccion-videojuegos-mobile a{
        text-align: center;
    }

    .descripcion-seccion-superheroes-mobile{
        background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marvel-vs-dc-1559903212.jpg");
        height: 27vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;         
    }

    .descripcion-seccion-superheroes-mobile a{
        text-align: center;
    }

    .boton-ver-mobile{
        background-color: #6495eda1;
        border-radius: 5rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 5px;
    }

    .descripcion-home p{
        font-weight: 900;
        text-align: justify;
        padding: 0rem 2rem 1rem 1rem;
    }

    .container-descripcion{
        display: none;
    }
}


/* Estilos version Tablets */
@media screen and (min-width: 768px) {
    header i{
        font-size: 23px;
    }

    /*Estilos del Home*/

    .search-bar{
        width: 90%;
    }

    .descripcion-seccion-anime-mobile{
        height: 65vh;
    }

    .descripcion-seccion-videojuegos-mobile{
        height: 65vh;
    }

    .descripcion-seccion-superheroes-mobile{
        height: 65vh;
    }

    .boton-ver-mobile{
        font-size: 2rem;
    }

    .secciones{
        font-size: 40px;
    }

    /*Fin de los estilos del Home*/

    /*Estilos del Register*/

    .inputs-register{
        width: 92vw;
    }

    .container-terms .etiqueta-term{
        width: 90vw;
    }

    /*Fin de loes estilos de Register*/

    /*Inicio de los estilos del Login*/

    .inputs-login{
        width: 91vw;
    }

    /*Fin de los estilos del Login*/

    /*Inicio de los estilos de Categories*/

    .main-categories h4{
        font-size: 2rem;
    }

    /*Fin de los estilos de Categories*/

    .footer-bar ul li{
        font-size: 25px;
    }
}

/* Estilos version PC's */
@media screen and (min-width: 1024px) {

    /*Estilos del Home*/

    header{
        position: sticky;
        top: 0px;
        background-color: #0b309dd4;
        backdrop-filter: saturate(180%) blur(5px);
        z-index: 1;
    }

    .logo-imagen{
        width: 22vw;
        max-height: 8vh;
    }

    .menu-burger{
        display: none;
    }

    .nav-bar{
        display: block;
        margin-top: 10px;
    }

    .nav-bar ul{
        display: inline-flex;
    }

    .nav-bar ul li{
        list-style: none;
    }

    .nav-bar ul li a i{
        font-size: 15px;
    }

    .nav-bar ul li a{
        color: black;
        font-weight: bolder;
        text-decoration: none;
        margin-right: 2rem;
        padding: 4px;
    }      

    .nav-bar ul li a:hover{
        border: 2px double black;
        border-radius: 1rem;
        color: firebrick;
        background-color: antiquewhite;
    }

    .search-bar{
        width: 94%;
    }

    .descripcion-home{
        padding: 20px;
    }

    .saludo-bienvenida{
        font-size: 3rem;
    }

    .descripcion-home p{
        color: black;
        font-weight: bold;
        text-align: justify;
        font-size: 2rem;
    }

    .musica-home{
        display: block;        
        padding: 1rem;
        margin-bottom: 0;
    }

    .main-home h6{
        text-align: unset;
    }

    .secciones{
        margin-bottom: 25px;
    }

    .descripcion-seccion-anime-mobile{
        display: none;
    }

    .descripcion-seccion-superheroes-mobile{
        display: none;
    }

    .descripcion-seccion-videojuegos-mobile{
        display: none;
    }

    .descripcion-seccion-anime{
        background-image: url("https://c.tenor.com/4e-jzGFTnxwAAAAC/goku-dragon-ball-z.gif");
        background-repeat: no-repeat;
        background-size: cover;
        width: 93vw;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
        position: relative;
        left: 3rem;
        border-radius: 21rem;
    }

    .descripcion-seccion-anime p{
        color: #a3a3a3;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .descripcion-seccion-videojuegos{
        background-image: url("https://elmercantil.com/wp-content/uploads/2020/11/01-1.gif");
        background-repeat: no-repeat;
        background-size: cover;
        width: 93vw;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
        position: relative;
        left: 3rem;
        border-radius: 21rem;
    }

    .descripcion-seccion-videojuegos p{
        color: #4e4ec5;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .descripcion-seccion-superheroes{
        background-image: url("https://media2.giphy.com/media/dn16iAighr3WDUrffC/giphy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        width: 93vw;
        height: 100vh;
        margin-bottom: 50px;
        box-shadow: 1px 5px 35px 7px black;
        position: relative;
        left: 3rem;
        border-radius: 21rem;
    }

    .descripcion-seccion-superheroes p{
        color: #8b8000;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }

    .container-descripcion{
        height: 100vh;
        background-color: #000000cc;
        padding: 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 21rem;
    }

    .boton-ver{
        width: 30vw;
        height: 10vh;
        font-size: 3rem;
        font-weight: 900;
        margin-top: 20px;
        background-color: brown;
        border-radius: 5rem;      
        cursor: pointer;         
    }

    /*Fin de estilos del Home*/

    /*Estilos del Register*/

    .body-register{
        background-image: url("https://netivist.org/uploads/forum/discussions/pictures/559588e855f4ff016cc41758/manga-vs-comics.jpg");
        height: unset;
    }

    .body-register a{
        color: #fff;
        margin-left: 1rem;
        padding: 1rem;
        border: solid 1px black;
        border-radius: 1rem;
        background-color: #00000085;
        text-decoration: none;
    }

    .body-register a:hover{
        background-color: #200404;
        transition: 500ms;
    }

    .body-register a i{
        margin-top: 2rem;        
    }

    .form-register-user{
        width: 50vw;
        left: 17rem;
        background-color: #000000a6;
        border: solid 1px lightgray;
    }

    .etiquetas-register{
        color: #fda030;
    }

    .container-terms .etiqueta-term{
        color: #e1bdbd;
    }

    .container-radio-buttons label{
        color: #e1bdbd;
    }

    .boton-form-register{
        color: #200404;
        cursor: pointer;
    }

    .boton-form-register:hover{
        background-color: orange;
        transition: 500ms;
    }

    .inputs-register{
        width: 47vw;
    }

    /*Fin de los estilos del Register*/

    /*Inicio de los estilos del Login*/

    .body-login .hipervinculo-home{
        color: #fff;
        margin-left: 1rem;
        padding: 1rem;
        border: solid 1px black;
        border-radius: 1rem;
        background-color: #00000085;
        text-decoration: none;
    }

    .body-login .hipervinculo-home:hover{
        background-color: #200404;
        transition: 500ms;
    }

    .hipervinculo-home i{
        margin-top: 2rem;    
    }

    .body-login{
        background-image: url("https://lh3.googleusercontent.com/-mecXAiXHkag/Yerer7BnSmI/AAAAAAAAtPs/pn8ui1_MH_cejPtL4u3XFTIm7M19zskNgCNcBGAsYHQ/s0-e97/Capitulos-Fairy-Tail-Sin-Relleno-Orden-Cronologico.jpg");
    }

    .form-login{
        width: 50vw;
        left: 17rem;
    }

    .inputs-login{
        width: 47vw;
    }
    
    .boton-login{
        cursor: pointer;
    }

    .boton-login:hover{
        background-color: orangered;
        transition: 500ms;        
    }

    .container-img-about-us .img-mobile{
        display: none;
    }

    .container-img-about-us .img-pc{
        display: unset;
        border-radius: 6rem;
        box-shadow: 1px 0px 27px 5px black;
        margin-bottom: 1rem;
    }

    .hipervinculo-contacto:hover{
        background-color: #a3a3a3;
        border-color: #4e4ec5;
        transition: 1s;
    }

    .gif-icon{
        display: unset;
        margin: 1rem;
        padding: 1rem;
        width: 12vw;
        height: 20vh;
        position: fixed;
        bottom: 1vh;
        left: 85vw;
        border-radius: 5rem;
        cursor: pointer;
    }

    /*Fin de los estilos del Login*/

    /*Inicio de los estilos del categories*/

    .main-categories h4{
        font-size: 1rem;
        margin: 8px;
    }

    .container-categories{
        display: flex;
    }

    .category-section-anime{
        height: 70vh;
        margin-top: auto;
    }

    .category-section-anime .category-article-anime .container-img-mobile{
        display: none;
    }    

    .category-section-anime .category-article-anime .container-img-pc{
        animation: trans-img-anime 8000ms infinite;
        width: 30vw;
        height: 45vh;
        border-radius: 1rem;
        margin: 1rem;
    }

    .category-section-anime .category-article-anime a:hover{
        background-color: #e1bdbd;
    }

    @keyframes trans-img-anime {
     0%{
        background-image: url("https://pm1.narvii.com/6438/aaca5d99cf1870c3437015f8d4e53308969d6573_hq.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }    
     25%{
        background-image: url("https://www.kawaiionline.top/wp-content/uploads/2020/09/figuras_anime_kawaii.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }
     50%{
        background-image: url("https://http2.mlstatic.com/D_NQ_NP_968821-MCO45003160592_022021-O.webp");
        background-repeat: no-repeat;
        background-size: cover;
     }
     75%{
        background-image: url("https://m.media-amazon.com/images/I/710ax-EbmAL._AC_SY606_.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }
     100%{
        background-image: url("https://pbs.twimg.com/media/EdW56uwWoAAqitp.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }
    }    

    .category-section-comics{
        height: 70vh;
    }

    .category-section-comics .category-article-comics .container-img-mobile{
        display: none;
    }

    .category-section-comics .category-article-comics .container-img-pc{
        height: 45vh;
        animation: trans-img-comic 8000ms infinite;
        border-radius: 1rem;
        margin: 1rem;
    }

    .category-section-comics .category-article-comics a:hover{
        background-color: #e1bdbd;
    }

    @keyframes trans-img-comic {
        0%{
            background-image: url("https://www.figurascoleccionables.online/wp-content/uploads/2020/07/figura-coleccionable-batman-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }    
        25%{
            background-image: url("https://i0.wp.com/toogeek.co/wp-content/uploads/2020/06/889698407182.jpeg?fit=400%2C400&ssl=1");
            background-repeat: no-repeat;
            background-size: cover;
        }
        50%{
            background-image: url("https://www.okchicas.com/wp-content/uploads/2019/05/joyas-avengers-730x381.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        75%{
            background-image: url("https://cdn.fashiola.es/L585081507/marvel-comics-acero-inoxidable-na.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        100%{
            background-image: url("https://static.wixstatic.com/media/6b981e_691ad77d9d0546d0a8adc8265dc48898~mv2.png/v1/fill/w_498,h_498,al_c,lg_1/6b981e_691ad77d9d0546d0a8adc8265dc48898~mv2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }    

    .category-section-videogames{
        height: 70vh;
    }

    .category-section-videogames .category-article-videogames .container-img-mobile{
        display: none;
    }

    .category-section-videogames .category-article-videogames .container-img-pc{
        height: 45vh;
        animation: trans-img-videogames 8000ms infinite;
        border-radius: 1rem;
        margin: 1rem;
    }

    .category-section-videogames .category-article-videogames a:hover{
        background-color: #e1bdbd;
    }

    @keyframes trans-img-videogames {
        0%{
            background-image: url("https://ventaspop-images.staticgnt.com/DUwp7gIQKViGUi7nVfcPhJooFlg=/fit-in/700x0/filters:fill(white,1):strip_exif():quality(70)/files/products/569/576/51Od2i6KGKL._SL1000_.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }    
        25%{
            background-image: url("https://compass-ssl.xbox.com/assets/b9/1c/b91cc932-3e26-4ec8-8b2b-00b8b42702c8.jpg?n=444793_Gallery-0_1_1350x759.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        50%{
            background-image: url("https://m.media-amazon.com/images/I/81iJG2js5-S._SY445_.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        75%{
            background-image: url("https://m.media-amazon.com/images/I/61CGHv6kmWL._AC_SL1000_.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        100%{
            background-image: url("https://topesdegama.com/app/uploads-topesdegama.com/2022/03/sedatech-pc-pro-gaming-pc-gaming.jpg?x=480&quality=20");
            background-repeat: no-repeat;
        }
    }

    /*Fin de los estilos del categories*/

    .footer-bar ul li{
        font-size: 20px;
    }

    .footer-bar ul li i:hover{
        color: aliceblue;
    }
}