<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>
<body class="body-home">
    <header>
        <a href="/"><img class="logo-imagen" src="/img/logo.png" alt="logo" border="0"></a>        
        <label for="check" class="menu-burger">
            <i class="fas fa-bars"></i>  
        </label>
            
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-plus"></i></i>Registrarse</a></li>
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                <li><a href="/categorias"><i class="fa-solid fa-rectangle-list"></i>Categorías</a></li>
                <li><a href="/SobreNosotros"><i class="fa-solid fa-people-group"></i>Sobre nosotros</a></li>
            </ul>
        </nav>
            
    </header>
    <span class="container-search">
       <input type="search" class="search-bar" placeholder="Buscar productos: accesorios, figuras, mangas...">
       <button class="button-search" type="button"><i class="fas fa-search"></i> </button>
    </span>
    <main class="main-contact">
        <h2>Informacion de contacto</h2>
        <div class="contact-mobile">
            <ul>
                <li>Correo electronico: <a href="mailto:caredlav@gmail.com">caredlav@gmail.com</a></li>
                <li>GitHub: <a href="https://github.com/caredlav">https://github.com/caredlav</a></li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/carlos-lavado-olivero/">https://www.linkedin.com/in/carlos-lavado-olivero/</a></li>
            </ul>
        </div>
        <div class="contact-pc">
            <div class="container-contact-info">                
                <a id="gmail" href="mailto:caredlav@gmail.com"><img src="https://cdn4.iconfinder.com/data/icons/logos-brands-in-colors/48/google-gmail-256.png" alt="gmail"></a>
            </div>
            <div class="container-contact-info">
                <a id="github" href="https://github.com/caredlav"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-256.png" alt="github"></a>
            </div>
            <div class="container-contact-info">
                <a id="linkedin" href="https://www.linkedin.com/in/carlos-lavado-olivero/"><img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/56-linkedin-256.png" alt="linkedin"></a>
            </div>                        
        </div>
        <p>También como has visto la temática de la página, me pueden contactar para jugar algún juego
            online. En estos momentos estoy entre PC y switch; no es tanto la variedad de mi lista pero si 
            concordamos en alguno de los juegos podemos entrar a una partida cooperativa.
        </p>
        <div class="container-games">
            <img src="https://icon-library.com/images/league-of-legends-logo-icon/league-of-legends-logo-icon-22.jpg" alt="lol">
            <img src="https://i.pinimg.com/originals/83/7a/4e/837a4e9e72a7585f11c6ae2d19b8bff5.jpg" alt="hots">
            <img src="https://assets.pokemon.com/assets//cms2-es-es/img/video-games/video-games/pokemon_unite/pokemon-unite-logo-169.jpg" alt="pu">
            <img src="https://apklust.com/logos/fall-guys-apk.jpg" alt="fg">
        </div>        
    </main>
    <footer>
        <nav class="footer-bar">
            <ul>
                <li><a href="/">Contáctame</a></li>
                <li>Redes sociales:
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i> 
                </li>                
            </ul>                                                   
        </nav>
    </footer>
</body>
</html>