<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <head>
        <h1>NAMAKI'S WORLD!!!</h1>

        <nav>
            <ul>
                <li>Home</li>
                <li>Categorías</li>
                <li>Sobre nosotros</li>
            </ul>
        </nav>
    </head>

    <main>
        <h2>Bienvenido al mundo del Geek</h2>
    </main>

    <footer>
        <nav>
            <ul>
                <li>Contactame</li>
                <li>Redes sociales</li>
            </ul>
        </nav>
    </footer>
</body>
</html>