<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body class="body-login">
    <a href="/" class="hipervinculo-home"><i class="fa-solid fa-house"></i>Volver al inicio</a> 
    <main>
        <form action="" method="" class="form-login">
            <div class="container-input">
                <label class="etiquetas-login" for="email">Correo electrónico</label>
                <input type="text" class="inputs-login" id="email">       
            </div>
            <div class="container-input">
                <label class="etiquetas-login" for="pass">Contraseña</label>
                <input type="password" class="inputs-login" id="pass">       
            </div>            
            <div class="container-button-login">
                <input type="submit" class="boton-login" value="Ingresar">
            </div>
            <div class="container-hipernviculo-sin-cuenta">
                <a href="/register" class="hipernviculo-sin-cuenta">¿No tienes cuenta aún?</a>
            </div>
        </form>
    </main>
</body>

</html>