<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body class="body-login">
    <a href="/" class="hipervinculo-home"><i class="fa-solid fa-house"></i>Volver al inicio</a> 
    <main>
        <form action="/login" method="post" class="form-login">
            <div class="container-input">
                <label class="etiquetas-login" for="userName">Usuario (también puede ingresar con su correo)</label>
                <input type="text" class="inputs-login" id="userName" name="userName">
                <% if (locals.err && err.userName) { %>
                    <h5 class="msg-error-register"><%= err.userName.msg %></h5>
                <% } %>
            </div>
            <div class="container-input">
                <label class="etiquetas-login" for="pass">Contraseña</label>
                <input type="password" class="inputs-login" id="pass" name="pass">
                <% if (locals.err && err.pass) { %>
                    <h5 class="msg-error-register"><%= err.pass.msg %></h5>
                <% }else if(locals.msg){ %>
                    <h5 class="msg-error-register"><%= msg %></h5>
                <% } %> 
            </div>            
            <div class="container-button-login">
                <input type="submit" class="boton-login" value="Ingresar">
            </div>
            <div class="container-hipernviculo-sin-cuenta">
                <a href="/registro" class="hipernviculo-sin-cuenta">¿No tienes cuenta aún?</a>
            </div>
        </form>
    </main>
</body>

</html>