<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <main class="main-register">
        <form action="" method="">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido">
                <label for="direccion">Nombre</label>
                <textarea></textarea>
                <label for="email">Correo electrónico</label>
                <input type="text" id="email">
                <label for="pass">Contraseña</label>
                <input type="password" id="pass">
                <label for="pass2">Confirmar contraseña</label>
                <input type="password" id="pass2">
                <label>¿Acepta los términos y condiciones?</label>
                <label for="accepting">Si</label>
                <input type="radio" id="accepting">
                <label for="rejecting">No</label>
                <input type="radio" id="rejecting">
            </div>
            <input type="submit" value="Registrarse">
            <input type="reset" value="Borrar los campos">
        </form>
    </main>
</body>
</html>