<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" href="/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>

<body class="body-register">
    <a href="/"><i class="fa-solid fa-house"></i>Volver al inicio</a>    
    <main class="main-register">
        <form action="/registro" method="post" class="form-register-user">
            <div>
                <div class="container-input">
                    <label for="user" class="etiquetas-register">Usuario</label>
                    <input type="text" class="inputs-register" id="user" name="username">
                </div>
                <div class="container-input">
                    <label for="nombre" class="etiquetas-register">Nombre</label>
                    <input type="text" class="inputs-register" id="nombre" name="name">
                </div>
                <div class="container-input">
                    <label for="apellido" class="etiquetas-register">Apellido</label>
                    <input type="text" class="inputs-register" id="apellido" name="lastname">
                </div>                
                <div class="container-input">
                    <label for="email" class="etiquetas-register">Correo electrónico</label>
                    <input type="text" class="inputs-register" id="email" name="email">
                </div>
                <div class="container-input">
                    <label for="pass" class="etiquetas-register">Contraseña</label>
                    <input type="password" class="inputs-register" id="pass" name="pass">
                </div>
                <div class="container-input">
                    <label for="pass2" class="etiquetas-register">Confirmar contraseña</label>
                    <input type="password" class="inputs-register" id="pass2" name="repass">
                </div>
                <div class="container-terms">
                    <label class="etiqueta-term">¿Acepta los términos y condiciones?</label>
                    <div class="container-radio-buttons">
                        <label for="accepting" class="etiquetas-register">Si</label>
                        <input type="radio" name="accepting" id="accepting">
                        <label for="rejecting" class="etiquetas-register">No</label>
                        <input type="radio" name="rejecting" id="rejecting"> 
                    </div>                   
                </div>
            </div>
            <div class="container-buttons-register">
                <input type="submit" class="boton-form-register" value="Registrarse">
                <input type="reset" class="boton-form-register" value="Borrar los campos">
            </div> 
        </form>
    </main>
</body>

</html>